# Dependencies
node_modules
.pnp
.pnp.js

# Build
dist
build
.next
out

# Turbo
.turbo

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Editors
.vscode/*
!.vscode/extensions.json
.idea

# Bun
bun.lockb
